/* Reset */
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* Whites and Grays */
@white: #ffffff;
@very-dark-gray: #070707;
@silver: #bbbbbb;
@haze: #f0f2f2;

/* Blues */
@dark-blue: #15154f;
@cobalt: #084eb9;
@sky: #caf2f5;
.sky {
  color: @sky;
}
@azure-white: #e1f5f7;
@flash-white: #effdff;
@xtralight-blue: #fbfefe;
@arctic-teal: #6ec5cf;
.arctic-teal {
  color: @arctic-teal;
}
@dark-teal: #20738c;

/* Oranges */
@pumpkin: #f9a035;
@pale-gold: #fff2e2;
@floral-white: #fff9f2;

/* Greens */
@grass: #399b3c;
@moss: #b1ddbc;

/* Color Variables */
@primary: @dark-blue;
@background: @white;
@code-background: @haze;
@color: @very-dark-gray;
@altcolor: @silver;
@hover: @arctic-teal;
@active: @dark-teal;

/* Convenince Color Classes */
.bg-dark_blue {
  background-color: @primary;
}

/* Other Variables */
@line-height: 1.4;
@padding: 18px;
@font-size: 16px;

/* Utility classes */
.lh-1_1 {
  line-height: 1.1;
}

.lh-1_2 {
  line-height: 1.2;
}

.lh-1_3 {
  line-height: 1.3;
}

/* HTML Primitives */
body, #sidebar ul li, #sidebar h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: @font-size;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  color: @color;
  background-color: @background;
}

h1, h2, h3, h4, h5, h6 {
  color: @color;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  letter-spacing: normal;
  text-transform: none;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 26px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 14px;
}

h3 {
  font-weight: 400;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 14px;
}

h4 {
  font-weight: 700;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 10px;
}

h5, h6 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 6px;
}

strong {
  font-weight: 700;
}

p {
  line-height: @line-height;
  margin-bottom: @padding;
}

a {
  color: @dark-teal;
}

a:hover, a:focus {
  color: @hover;
}

a:active {
  color: @active;
}

a.no-decoration, a.no-decoration:hover,
a.no-decoration:visited, a.no-decoration:active {
  text-decoration: none;
  color: @primary;
}

ul, ol {
  margin-bottom: @padding;
  margin-left: calc(@padding * 2);
}

ul ul, ol ol {
  margin-bottom: 0;
}

ul ul, ol ol {
  margin-left: 30px;
}

ul li, ol li {
  line-height: @line-height;

  ul {
    margin-top: 0px;
  }
}

blockquote {
  font-family: 'IBM Plex Mono', monospace;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 9px;
  background-color: @code-background;
  color: @color;
  border-left: 5px solid #ddd;
  quotes: "\201C" "\201D";
  font-size: 13px;

  p, a {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
  }

  &:before { content: none; font-weight: bold; }
  &:after  { content: none; font-weight: bold; }
  &:last-child { margin-bottom: 0px; }
  h1,h2,h3,h4,h5 { margin: 0; }
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

code, pre {
  font-family: 'IBM Plex Mono', monospace;
}

// code {
//   display: inline;
//   overflow-wrap: break-word;
//   padding-top: 0;
//   padding-bottom: 0;
//   padding-left: 3px;
//   padding-right: 3px;
//   word-break: break-all;
// }

pre {
  line-height: 1.6;
}

#body-inner p, #body-inner ol li, #body-inner ul li {
  font-size: 18px;
  line-height: 1.7;
}

#body-inner ul li, #body-inner ol li {
    margin-top: 10px;

    &:last-of-type {
      padding-bottom: 10px;
    }
}

#body-inner {
  p + pre {
    margin-top: -10px;
  }

  p + ul {
    margin-top: -10px;
  }
}

#body-inner code {
  font-size: 16px;
}

#body-inner pre {
    white-space: pre;
}

#body-inner h2 {
  font-size: 18px;
  margin-top: 56px;

  code {
    color: @color;
  }
}

#body-inner h3 {
  font-size: 18px;
  margin-top: 46px;

  code {
    color: @color;
  }

  &:before {
    font-weight: 700;
    content: "＞ ";
  }
}

#body-inner h4 {
  &:before {
    font-weight: 700;
    content: "＞＞ ";
  }
}

//Animated background image for body links
#body-inner {
	a {
		border-bottom: 1px solid @hover;
		color: @active;
		text-decoration: none;
		transition: background-image 0.4s ease-in-out;
		background-size: 100% 200%;
		background-image: linear-gradient(to top,
			transparent 0%,
			transparent 50%,
			@azure-white 50%,
			@sky 100%);
		background-position: 0 100%;
		will-change: background-position;

		&:hover {
			animation: backgroundAnimateIn 0.4s;
			animation-play-state: running;
			animation-fill-mode: forwards;
		}
	}
}

@keyframes backgroundAnimateIn {
	0% {
		background-position: 0 -100%;
	}
	33% {
		background-position: 0 -95%;
	}
	81% {
		background-position: 0 -5%;
	}
	86% {
		background-position: 0 2.5%;
	}
	100% {
		background-position: 0 0%;
	}
}

table {
    border-collapse: collapse;
    margin-bottom: 30px;
    border-bottom: 1px solid @altcolor;
    width: 100%;

    td {
        vertical-align: top;
        padding-top: 6px;
        padding-right: 10px;
        padding-bottom: 6px;
    }

    th {
        border-bottom: 1px solid @altcolor;
        font-size: 12px;
        font-weight: 400;
        padding: 3px;
        margin: 0;
        text-transform: uppercase;
    }
}

.table-container {
    display: table;
    width: 100%;
}

/* Inner Pages Global */
#body {
  margin: 0;
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: @hover;
}

#body .padding {
  padding: 0;
}

/* Header */
header {
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    a {
      color: @sky;
      text-decoration: none;

      &:hover {
          color: @hover;
      }
    }
}

.header-title {
    font-size: 32px;
    line-height: .7; //to get vertical centering in the right place

    img {
      height: 90px;
      padding-right: 10px;
    }
}

/* Global Nav */
.nav-ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
}

.nav-link {
  color: @sky;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 20px;
  text-transform: uppercase;

  &:hover {
    color: @hover;
  }
}

.nav-link_active {
  border-bottom: 3px solid @hover;
  a {
    color: @hover;
  }
}

/* Left Nav */
#sidebar {
  background-color: transparent;
  padding-top: 0;
  position: relative;
}

#sidebar-toggle-span {
    display: none;
}

@media only all and (max-width: 60em) {
  #sidebar-toggle-span {
      display: inline;
  }

  #sidebar {
    width: 230px;
    left: -230px;
    display: none;
  }

  #body {
    //padding-left: 0;
    //width: 100%;
  }

  .sidebar-hidden {
    //overflow: hidden;
  }

  .sidebar-hidden #sidebar {
    left: 0;
    display: inline;
    z-index: 10101010101;
  }

.sidebar-hidden #body  {
    margin-left: 0px;
    overflow: hidden;
  }

  .sidebar-hidden #overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
}

.page-with-sidenav {
  h1 {
    margin-top: 10px;
  }
}

#sidebar #header-wrapper {
  background: transparent;
  color: #bbbbbb;
  border: none;
  padding-top: 0;
}

#sidebar .searchbox {
	border-color: #bbbbbb;
  background: @white;
}

.searchbox input::placeholder {
  color: @color;
}

#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
  background: transparent;
}

#sidebar ul.topics ul {
  display: block;
  padding-bottom: 1rem;
}

#sidebar ul li a {
  padding: 4px 0;
}

#sidebar ul.topics > li > a {
  line-height: @line-height;
  font-size: @font-size;
}

#sidebar .searchbox * {
  color: @color;
}

#sidebar a {
  color: @color;
}

#sidebar a:hover {
  color: @active;
}

#sidebar ul li.active > a, #sidebar ul li h2.active > a  {
  background: transparent;
  color: @active !important;
  font-weight: 700;
  cursor: pointer;
}

#sidebar hr {
  border-color: @color;
}

#sidebar h2 {
  font-size: 15px;
  font-weight: 500;
  margin-top: @padding;
  margin-bottom: 0;
}

#sidebar ul li {
  font-size: 15px;
}

/* Modules */
#body #breadcrumbs {
  width: 90%;
}

#top-bar {
  background: transparent;
  margin: 8px 0 0 0;
  padding: 0;
}

#top-bar span {
  font-weight: 200;
}

#main-content {
  position: relative;
}

.tipbox {
    padding: 10px;
    margin: auto 0 2rem 0;

    &.warning {
        background-color: @pale-gold;
        border: 1px solid @pumpkin;
        border-left: 5px solid @pumpkin;

        &:before {
            content: "⚠ ";
            font-weight: 700;
        }

        code {
            background-color: @floral-white;
        }
    }

    &.tip {
        background-color: @azure-white;
        border: 1px solid @arctic-teal;
        border-left: 5px solid @arctic-teal;

        &:before {
            content: "ⓘ ";
            font-weight: 700;
        }

        code {
            background-color: @flash-white;
        }
    }
}

/* Homepage */
.homepage {
  h1 {
    color: @sky;
    font-size: 60px;
    line-height: 1.1;
    font-weight: 700;
  }

  h2 {
    color: @arctic-teal;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
    padding-bottom: 15px;
  }
}

.cluster-illustration {
  max-height: 552px;
}

.github-button {
  margin-top: 20px;
}

/* Footer */
footer {
    border-top: 1px solid @arctic-teal;
    color: @primary;
    font-size: 11px;

    p {
      margin-bottom: 3px;
    }

    .nav-link {
      color: @primary;
    }
}
