<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name=viewport />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#15154f">
    <meta name="theme-color" content="#ffffff">

    <!--  facebook open graph tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Site.Params.BaseURL }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Site.Params.Description }}" />
    <meta property="og:image" content="{{ .Site.Params.Og_Image }}" />
    <meta property="og:image:width" content="279">
    <meta property="og:image:height" content="279">

    <!-- twitter card tags additive with the og: tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" value="{{ .Site.Params.Domain }}" />
    <meta name="twitter:title" value="{{ .Title }}" />
    <meta name="twitter:description" value="{{ .Site.Params.Description }}" />
    <meta name="twitter:image" content="{{ .Site.Params.Og_Image }}" />
    <meta name="twitter:url" value="{{ .Site.Params.BaseURL }}" />

    <title>{{ .Title }} - {{ .Site.Params.Description }}</title>
    <link rel="stylesheet" href="/css/tachyons.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/fonts/fonts.css"/>
    <script async defer src="/buttons.js"></script>
  </head>

<body class="w-100 bg-dark_blue">

  {{ partial "header.html" . }}

  <div class="ph3 ph5-ns">
    <div class="cf mw9 center tc-m">
      {{ block "content" . }}{{ end }}
    </div>
  </div> <!-- END HERO -->

  <article class="bt b--black-10 bg-washed-blue black-70 ph3 ph5-ns pv4 pv5-ns" id="getting-started">
    <div class="mw9 center">
      {{ .Content }}

      <!-- <h1 class="mt0 f5 f3-ns">Getting Started</h1>
      <p class="f5 measure lh-copy">
      Copy the line of code below and paste it in the head of the html file(s) you want to include tachyons in.
      </p>
      <pre class="pre black-70"><code class="code f6 dib pa2 bg-black-70 washed-green">&lt;link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/&gt;</code></pre>
      <p class="mt4"><b>or</b> install via npm</p>
      <pre class="pre black-70" style="overflow: auto"><code class="code f6 dib pa2 bg-black-70 washed-green" style="font-size: 14px;">npm install --save-dev tachyons@4.10.0</code></pre>
      <p class="mt4"><b>or</b> grab all the source files and build+develop locally</p>
      <pre class="pre"><code class="code f6 dib pa2 bg-black-70 washed-green">git clone git@github.com:tachyons-css/tachyons.git
cd tachyons
npm install &amp;&amp; npm start</code></pre>
      <h3 class="f5 f3-ns mt4 fw6">Prototyping template</h3>
      <p class="lh-copy measure f6">
      This template is always linked to the most up to date version of Tachyons.
      Save this file to your computer to start prototyping right away without worrying about setting up a dev environment. You can open the file in a web browser and view your changes.
      </p>
      <div class="overflow-auto">
        <code class="pre f6">
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
  &lt;title&gt; &lt;/title&gt;
  &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
  &lt;link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css"&gt;
  &lt;body&gt;

  &lt;/body&gt;
&lt;/html&gt;
        </code>
      </div>

      <section class="bt b--black-10 pv5 mt5 cf">
        <div class="fl-l w-100 w-50-l pr4-ns">
          <h3 class="f5 f3-ns mt0">Start a New Project</h3>
          <p class="f6 f5-ns measure lh-copy mb4 mt0">
            Get setup and running with this ~7 minute screencast. Download the
            project and learn how to customize the tachyons source files and
            recompile the css using the postcss build system.
          </p>
        </div>
        <div class="fl-l w-100 w-50-l">
          <div class="aspect-ratio aspect-ratio--8x5">
            <iframe class="aspect-ratio--object" src="https://player.vimeo.com/video/174698456" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </section>
    </div>
  </article>

  <div class="tl bt b--black-10 pa3 pa5-ns bg-lightest-blue navy" id="principles">
    <div class="mw9 center">
      <h1 class="f5 ttu tracked fw6">Principles</h1>
      <section class="lh-copy">
        <div class="cf">
          <article class="fl pv2 w-100 w-third-l pr4-l">
            <h2 class="f5 f4-ns fw6 mb0">Responsive</h2>
            <p class="f6 f5-ns measure lh-copy mt0">
              Everything should be 100% responsive. Your website should work regardless of a user’s
              device or screensize.
            </p>
          </article>
          <article class="pv2 fl w-100 w-third-l ph3-l">
            <h2 class="f5 f4-ns fw6 mb0">Readable</h2>
            <p class="f6 f5-ns measure lh-copy mt0">
              No matter the lighting, or the device, font-sizes should be
              large enough and contrast should be high enough for your
              users to easily read your content.
            </p>
          </article>
          <article class="pv2 fl w-100 w-third-l pl4-l">
            <h2 class="f5 f4-ns  fw6 mb0">
              Modular
            </h2>
            <p class="f6 f5-ns measure lh-copy mt0">
              Tachyons isn’t just a monolithic framework. It’s a collection of small modules
              that can be mixed and matched or used independently. Use what you need. Leave the rest.
            </p>
          </article>
        </div>
        <div class="cf w-100">
            <article class="pv2 fl w-100 w-third-l pl0 pr4-l">
            <h2 class="f5 f4-ns fw6 mb0">Accessible</h2>
            <p class="f6 f5-ns measure lh-copy mt0">
              Accessibility is important to us. Throughout both the css
              and the documentation we provide numerous tools and methods for making it
              easier to maximize the accessibility of your site.
            </p>
          </article>
          <article class="pv2 fl w-100 w-third-l ph3-l">
            <h2 class="f5 f4-ns  fw6 mb0">Performant</h2>
            <p class="f6 f5-ns measure lh-copy mt0">
              Code should be optimized for performance.
            </p>
          </article>
          <article class="pv2 fl w-100 w-third-l pl4-l">
            <h2 class="f5 f4-ns fw6 mb0">
              Reusable
            </h2>
            <p class="f6 f5-ns measure lh-copy mt0">
              Clear documentation helps create a shared understanding of design patterns amongst your team.
              This helps promote reuse and reduces the amount of redundancy in a codebase.
            </p>
          </article>
        </div>
      </section>
    </div>
  </div> -->

  {{ partial "footer.html" . }}
</body>
</html>
