{{ $isHomePage := eq .Title .Site.Title }}

{{ $.Scratch.Add "basePath" "../" }}

{{ if $isHomePage }}
{{ $.Scratch.Set "basePath" "./" }}
{{ end  }}

{{ $basePath := $.Scratch.Get "basePath" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv=X-UA-Compatible/>
    <meta content="width=device-width,initial-scale=1" name=viewport />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="manifest" href="/manifest.json"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>

    <!--  facebook open graph tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://multiformats.io/" />
    <meta property="og:title" content="Multiformats" />
    <meta property="og:description" content="Self-describing values for Future-proofing" />
    <meta property="og:image" content="https://ipfs.io/ipfs/QmegGyDxdmZwbEvPnEtKXcJ5N72ajzkanN4cZou5WsKSSN" />

    <!-- twitter card tags additive with the og: tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" value="muliformats.io" />
    <meta name="twitter:title" value="Multiformats" />
    <meta name="twitter:description" value="Self-describing values for Future-proofing" />
    <meta name="twitter:image" content="https://ipfs.io/ipfs/QmbsPWzqH9jxh2xkFSsUYPg6psnvSUrwDVvnVzC3k2C3GJ" />
    <meta name="twitter:url" value="https://multiformat.io" />
    <meta name="twitter:label1" value="Multihash" />
    <meta name="twitter:data1" value="Self-describing hashes" />
    <meta name="twitter:label2" value="Multiaddr" />
    <meta name="twitter:data2" value="Self-describing network addresses" />

    <title>{{ .Title }}</title>
		<link href="/css/main.css" rel="stylesheet"/>
		<link href="/fonts/fonts.css" rel="stylesheet"/>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body>
    {{ partial "header.html" . }}

    <div class="container">
      {{ .Content }}
    </div>

    {{ partial "footer.html" . }}

    <script>
     var lsymbol = '<span id="link-symbol">#</span>'
     document.querySelectorAll('h1, h2, h3, h4, h5, h6, h7').forEach(function(h) {
        var link = '<a class="header-link no-decoration" href="#' + h.id + '">'
        h.innerHTML =  link + lsymbol + h.innerHTML + '</a>'
      })
    </script>
  </body>
</html>
