{{ define "breadcrumb" }}
  {{ $parent := .page.Parent }}
  {{ if $parent }}
    {{ $value := (printf "<a href='%s'>%s</a> > %s" $parent.URL $parent.Title .value) }}
    {{ template "breadcrumb" dict "page" $parent "value" $value }}
  {{ else }}
    {{ .value|safeHTML }}
  {{ end }}
{{ end }}

{{ define "main" }}

<!-- This file is for defining layout for pages lower than section -->
<!-- ie, www.foo.com/section/ALL-OF-THESE/AND-THESE -->

<div id="body" class="bt b--black-10 bg-white black-90 ph3 ph5-ns pb4 pb5-ns">
  <div class="mw9 center ph3-ns">
    <div class="cf ph2-ns">

    <!-- START left nav -->
    {{ partial "menu.html" . }}

    <div id="overlay"></div> <!-- Toggle when collapsed goes here. I think. -->
    <!-- END left nav -->

    <!-- START main content block -->
    <div class="padding highlightable fl w-100 w-70-ns pa2">
      {{if not .IsHome}}
        <div id="top-bar">

            {{$toc := (and (not .Params.disableToc) (not .Params.chapter))}}
            <div id="breadcrumbs" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                <span id="sidebar-toggle-span">
                    <a href="#" id="sidebar-toggle" data-sidebar-toggle="">
                      <i class="fas fa-bars"></i>
                    </a>
                </span>
                <span class="links">
               {{$showBreadcrumb := (and (not .Params.disableBreadcrumb) (not .Site.Params.disableBreadcrumb))}}
               {{if $showBreadcrumb}}
                  {{ $title := (or .Params.menuTitle .Title) }}
                  {{ template "breadcrumb" dict "page" . "value" $title }}
               {{ else }}
                 {{ .Title }}
               {{ end }}
                </span>
            </div>

        </div> <!-- END top bar -->
      {{ end }}

      {{ if .Params.chapter }}
      <div id="chapter">
      {{ end }}

      <div id="body-inner">
          <!-- FOR DEBUGGING -->
          <!-- <li><strong>Am I a node?</strong> {{ printf "%#v" .IsNode }}</li>
          <li><strong>IsSection</strong> {{ printf "%#v" .IsSection }}</li>
          <li><strong>Am I a page?</strong> {{ printf "%#v" .IsPage }}</li>
          <li><strong>What kind of page?</strong> {{ printf "%#v" .Kind }}</li>
          <li><strong>What type of page?</strong> {{ printf "%#v" .Type }}</li>
          <li><strong>Where am I?</strong> {{ printf "%#v" .Path }}</li>
          <li><strong>ID?</strong> {{ printf "%#v" .UniqueID }}</li>
          <li><strong>Title</strong> {{ printf "%#v" .Title }}</li>
          <li><strong>Who's my mom?</strong> {{ printf "%#v" .FirstSection.Title }}</li>

          <br/> -->
          <!-- END DEBUGGING -->
        {{ .Content }}

      </div>

    </div> <!-- END highlightable -->
    <!-- END main content block -->

  </div>

    {{ partial "footer.html" . }}

  </div>
</div>

{{ end }}
