{{ $isHomePage := eq .Title .Site.Title }}

{{ $.Scratch.Add "basePath" "../" }}

{{ if $isHomePage }}
	{{ $.Scratch.Set "basePath" "./" }}
{{ end  }}

{{ $basePath := $.Scratch.Get "basePath" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv=X-UA-Compatible>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <title>Multiformats {{ .Title }}</title>
		<link href="{{ $basePath }}minimal.css" rel="stylesheet">
		<link href="{{ $basePath}}style.css" rel="stylesheet"/>
		<link href="{{ $basePath}}fonts/fonts.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header class="push-2 col-8 title
        {{ if $isHomePage }}home-page{{ end }}">
				<img alt="Multiformats Logo" id="logo" src="{{ $basePath}}logo.svg" width="60"/>
				<span>
        {{ if not $isHomePage }}
          <a href="{{ $basePath }}">Multiformats</a> /
        {{ end }}
        {{ .Title }}</span>
      </header>

      <div class="row">
        <div class="push-2 col-8">
          {{ .Content }}
        </div>
      </div>
<!--
      <footer class="push-2 col-8">
        &copy 2017 Protocol Labs Inc.
      </footer>
 -->
     </div>

     <script>
     var lsymbol = '<span id="link-symbol">#</span>'
     document.querySelectorAll('h1, h2, h3, h4, h5, h6, h7').forEach(function(h) {
        var link = '<a class="header-link" href="#' + h.id + '">'
        h.innerHTML =  link + lsymbol + h.innerHTML + '</a>'
      })
     </script>

  </body>
</html>
