<footer>
  <div class="container">
    <nav>
      {{ partial "nav.html" . }}
    </nav>    
    <div id="sponsored">IPFS Cluster was started and is sponsored by</div>
    <div id="footer-logo-div">
      <a href="https://protocol.ai/">
        <img id="footer-logo" src="/protocol-labs-logo.png">
      </a>
    </div>
    <div class="copyright">
      © <a href="https://protocol.ai/" target="_blank">Protocol Labs</a> | Except as <a href="https://protocol.ai/legal/">noted</a>, content licensed <a href="" target="_blank">CC-BY 3.0</a></div>
  </div>
</footer>
