<footer class="w-100 pt3 mt5">
  <!-- <div class="db dt-l mw9 w-100"> -->
  <div class="db dt-l mw9 w-100 ph-1 ph4-ns">
    <div class="db dtc-l tc tc-m tl-ns v-mid w-100 w-40-l">
      <div class="db dtc-l v-mid mb3">
        <p>IPFS Cluster was started and is sponsored by <a href="https://protocol.ai/">Protocol Labs</a><br/>
        © <a href="https://protocol.ai/" target="_blank">Protocol Labs</a> | Except as <a href="https://protocol.ai/legal/">noted</a>, content licensed <a href="" target="_blank">CC-BY 3.0</a></p>
      </div>
    </div>
    {{ partial "nav.html" . }}
  </div>
</footer>
