<footer class="white pa3">
  <div class="footer-section">
    <div>Multiformats was started and is sponsored by</div>
    <a href="https://protocol.ai/">
      <img id="footer-logo" src="/protocol-labs-logo.png">
    </a>
  </div>
  <div class="footer-section right">
    <nav>
      <a href="#multiformat-protocols" class="nav-link">Protocols</a>
      <a target="_blank" href="https://github.com/{{ .Page.Params.stars }}" class="nav-link">Github</a>
      <a target="_blank" href="{{ .Site.Params.specifications }}" class="nav-link hide-ns">Specs</a>
      <a target="_blank" href="{{ .Site.Params.specifications }}" class="nav-link show-ns">Specifications</a>
    </nav>    
    <div class="copyright">© <a href="https://protocol.ai/" target="_blank">Protocol Labs</a> | Except as <a href="https://protocol.ai/legal/">noted</a>, content licensed <a href="" target="_blank">CC-BY 3.0</a></div>
  </div>
</footer>
