{{ partial "side-nav.html" . }}

<!-- templates -->
{{ define "section-tree-nav" }}
{{ $showvisitedlinks := .showvisitedlinks }}
{{ $currentNode := .currentnode }}
 {{with .sect}}
  {{if .IsSection}}
    {{safeHTML .Params.head }}
    {{ $isParent := or (.IsAncestor $currentNode) (.Params.alwaysopen) }}
    {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
    <li data-nav-id="{{.URL}}" title="{{.Title}}" class="dd-item
        {{if $isParent }}parent{{end}}
        {{if eq .UniqueID $currentNode.UniqueID}}active{{end}}
        ">
      <a href="{{.RelPermalink}}">
          {{ if and (ne $numberOfPages 0) (ne .Parent .Site.Home) }}
            {{ if $isParent }}
              <i class="fas fa-caret-down"></i>
            {{ else }}
              <i class="fas fa-caret-right"></i>
            {{ end }}
          {{ end }}
          {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
          {{ if $showvisitedlinks}}
            <i class="fas fa-check read-icon"></i>
          {{ end }}
      </a>
      {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
      {{ if ne $numberOfPages 0 }}
        <ul>
          {{ $currentNode.Scratch.Set "pages" .Pages }}
          {{ if .Sections}}
            {{ $currentNode.Scratch.Set "pages" (.Pages | union .Sections) }}
          {{end}}
          {{ $pages := ($currentNode.Scratch.Get "pages") }}

        {{if eq .Site.Params.ordersectionsby "title"}}
          {{ range $pages.ByTitle }}
            {{ if and .Params.hidden (not $.showhidden) }}
            {{else}}
            {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
            {{end}}
          {{ end }}
        {{else}}
          {{ range $pages.ByWeight }}
            {{ if and .Params.hidden (not $.showhidden) }}
            {{else}}
            {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
            {{end}}
          {{ end }}
        {{end}}
        </ul>
      {{ end }}
    </li>
  {{else}}
    {{ if not .Params.Hidden }}
      <li data-nav-id="{{.URL}}" title="{{.Title}}" class="dd-item {{if eq .UniqueID $currentNode.UniqueID}}active{{end}}">
        <a href="{{ .RelPermalink}}">
        {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
        {{ if $showvisitedlinks}}<i class="fas fa-check read-icon"></i>{{end}}
        </a>
    </li>
     {{ end }}
  {{end}}
 {{ end }}
{{ end }}
