<nav id="navbar" class="db dtc-l v-mid w-100 tc tc-m tr-ns mt2 mt0-ns">
  <ul class="mt0 mb0 ml0 list">
    {{ range .Site.Menus.main }}
    <li class="dib nav-link{{if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} nav-link_active{{end}}"><a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
    {{ end }}
    <li class="dib nav-link"><a href="/documentation/getting-started/installation/" title="Download and Install"><i class='fa fa-download'></i> Download</a></li>
    <li class="dib nav-link"><a target="_blank" href="{{ .Site.Params.Github }}"><i class='fab fa-github'></i> Github</a></li>
  </ul>
</nav>
