{{ define "main" }}

<!-- This file is for defining any unique layout that's on the homepage -->
    <div class="ph3 ph5-ns">
      <div class="cf mw9 center tc-m">
        <div class="pb3 pb4-ns pt4 pt5-ns fl-l w-50-l">
          <h1 class="f2 fw6 f1-ns lh-1_1 measure mt0 sky">
            IPFS Cluster allocates, replicates and tracks pins across a cluster of IPFS daemons.
          </h1>
          <h2 class="f4 f4-ns fw4 lh-1_3 b measure dib-m lh-copy arctic-teal">
            It is a stand-alone application and a CLI Client.
          </h2>
          <a class="github-button" href="https://github.com/ipfs/ipfs-cluster" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ipfs/ipfs-cluster on GitHub">Star</a>
          <a class="github-button" href="https://github.com/ipfs/ipfs-cluster/subscription" data-icon="octicon-eye" data-size="large" aria-label="Watch ipfs/ipfs-cluster on GitHub">Watch</a>
          <a class="github-button" href="https://github.com/ipfs/ipfs-cluster/issues" data-icon="octicon-issue-opened" data-size="large" aria-label="Issue ipfs/ipfs-cluster on GitHub">Issues</a>
        </div>
        <div class="fl-l w-50-l tl tc-ns">
          <img class="cluster-illustration" src="/cluster/svg/cluster_cube_illustr.svg" alt="Cluster Illustration" />
        </div>
      </div>
    </div> <!-- END HERO -->

    <div class="bt b--black-10 bg-white black-90 ph3 ph5-ns pv4 pv5-ns">
      <div class="mw9 center">

        {{ .Content }}

        {{ partial "footer.html" . }}

      </div>
    </div>

{{ end }}
