<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{{ page.title }}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="author" content="{{ site.author.name }}">
    <meta name="copyright" content="{{ site.license }} &copy; {{ site.author.name }} 2016">
    <meta name="description" content="{{ page.description }}">

    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:url" content="{{ site.path }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ site.baseurl }}/assets/img/{{ site.logo.name }}" />
    <meta property="og:image:type" content="{{ site.logo.type }}" />
    <meta property="og:image:width" content="{{ site.logo.width }}" />
    <meta property="og:image:height" content="{{ site.logo.height }}" />

    <!-- Twitter: card tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ site.baseurl }}/assets/img/{{ site.logo.name }}">
    <meta name="twitter:url" content="{{ site.path }}">

    <link rel="profile" href="https://github.com/RichardLitt/open-source-protocol/" />
    <meta property="os:repo" content="{{ site.os.repo }}" />
    <meta property="os:rcs_type" content="{{ site.os.rcs_type }}" />
    <meta property="os:src" content="{{ site.os.src }}" />
    <meta property="os:issue" content="{{ site.os.issues }}" />
    <meta property="os:branch" content="{{ site.os.branch }}" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <img class='logo' src="{{ site.baseurl }}/assets/img/{{ site.logo.name }}" title="{{ site.title }}" alt="{{ site.title }}"/>
    </div>
    <div class="wrapper">

        {{content}}

        <h3>Source</h3>

        <a class="github-button" href="{{ site.os.repo }}" data-icon="octicon-star" data-count-href="/{{ site.github }}/stargazers" data-count-api="/repos/{{ site.github }}#stargazers_count">Star</a>
        <a class="github-button" href="{{ site.os.repo }}" data-icon="octicon-git-branch" data-count-href="/{{ site.github }}/network" data-count-api="/repos/{{ site.github }}#forks_count">Fork</a>
        <p class="maintainer">This project is maintained by <a href="{{ site.maintainer.link }}">{{ site.maintainer.name }}</a>.</p>
    </div>

    <script src="javascripts/scale.fix.js"></script>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
