
{{ $syntax := .Get "syntax" }}
{{ $labels := .Get "labels" }}

<div class="multihash">
	<div>
		<pre class="example-code">
<code class="c-0">{{ .Get "fnCode" }}</code><code class="c-1">{{ .Get "lengthCode" }}</code><code class="c-2">{{ .Get "digest" }}</code></pre>
	</div>
	<div class="example-legend">
		<div class="label c-0">Hashing function: <code class="c-0">{{ .Get "fnName" }}</code> (code: <code>{{ .Get "fnCode" }}</code>)</code></div>
		<div class="label c-1">Length: {{ .Get "length" }} (encoding: <code class="c-1">{{ .Get "lengthCode" }}</code>)</div>
		<div class="label c-2">Digest: <code class="c-2">{{ .Get "digest" }}</code></div>
	</div>
</div>
